body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-souliyo-unicode: "Souliyo Unicode";
  --font-mclaren: McLaren;

  /* font sizes */
  --font-size-109xl: 128px;
  --font-size-13xl: 32px;
  --font-size-32xl: 51px;

  /* Colors */
  --color-white: #fff;

  /* Paddings */
  --padding-2xl: 21px;
  --padding-xl: 20px;
}
