.psycorp {
  width: 3378px;
  position: relative;
  font-size: var(--font-size-109xl);
  font-family: var(--font-mclaren);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  max-width: 100%;
}
.wrapper-vector-1,
.wrapper-vector-1-child {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.wrapper-vector-1-child {
  overflow: hidden;
  object-fit: contain;
  transform: scale(1.01);
}
.wrapper-vector-1 {
  margin: 0 !important;
  right: 0;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 0;
}
.download,
.watch {
  width: 595px;
  height: 178px;
  position: relative;
  text-decoration: underline;
  color: inherit;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.watch {
  width: 360px;
}
.watch-wrapper,
.wrapper-vector-1-parent {
  width: 594px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  max-width: 100%;
}
.wrapper-vector-1-parent {
  width: 1200px;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 100px 281px;
  box-sizing: border-box;
  position: relative;
  gap: 44px;
}
.desktop-1-inner {
  width: 3378px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-109xl);
  color: var(--color-white);
  font-family: var(--font-souliyo-unicode);
}
.desktop-1 {
  width: 100%;
  position: relative;
  background-color: #000;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 660px var(--padding-xl);
  box-sizing: border-box;
  gap: 125px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .wrapper-vector-1-parent {
    padding-left: var(--padding-121xl);
    padding-right: var(--padding-121xl);
    box-sizing: border-box;
  }
  .desktop-1 {
    gap: 62px;
  }
}
@media screen and (max-width: 1050px) {
  .download,
  .psycorp,
  .watch {
    font-size: var(--font-size-32xl);
  }
}
@media screen and (max-width: 750px) {
  .wrapper-vector-1-parent {
    gap: 22px;
    padding: 65px 70px;
    box-sizing: border-box;
  }
  .desktop-1 {
    gap: 31px;
  }
}
@media screen and (max-width: 450px) {
  .download,
  .psycorp,
  .watch {
    font-size: var(--font-size-13xl);
  }
  .wrapper-vector-1-parent {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .desktop-1 {
    gap: 16px;
  }
}
