.psycorp {
  width: 1200px;
  position: relative;
  font-size: var(--font-size-109xl);
  font-family: var(--font-mclaren);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  max-width: 100%;
}
.frame-child {
  height: 600px;
  width: 1200px;
  position: absolute;
  margin: 0 !important;
  right: -303px;
  bottom: -369px;
  object-fit: cover;
}
.download {
  flex: 1;
  text-decoration: underline;
  color: inherit;
  display: inline-block;
  z-index: 1;
}
.download,
.vector-parent,
.watch {
  position: relative;
  max-width: 100%;
}
.vector-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.watch {
  width: 360px;
  text-decoration: underline;
  color: inherit;
  display: inline-block;
  z-index: 1;
}
.watch-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-2xl);
  box-sizing: border-box;
  max-width: 100%;
}
.frame-parent {
  width: 595px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 75px;
  max-width: 100%;
}
.desktop-1,
.desktop-1-inner {
  display: flex;
  box-sizing: border-box;
}
.desktop-1-inner {
  width: 1200px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 1px 0 0;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-109xl);
  color: var(--color-white);
  font-family: var(--font-souliyo-unicode);
}
.desktop-1 {
  width: 100%;
  position: relative;
  background-color: #000;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-2xl) var(--padding-xl) 168px;
  gap: 209px;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .desktop-1 {
    gap: 104px;
  }
}
@media screen and (max-width: 1050px) {
  .download,
  .psycorp,
  .watch {
    font-size: var(--font-size-32xl);
  }
}
@media screen and (max-width: 750px) {
  .frame-parent {
    gap: 37px;
  }
  .desktop-1 {
    gap: 52px;
  }
}
@media screen and (max-width: 450px) {
  .download,
  .psycorp,
  .watch {
    font-size: var(--font-size-13xl);
  }
  .frame-parent {
    gap: 19px;
  }
  .desktop-1 {
    gap: 26px;
  }
}
